html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
 footer {
    flex-shrink: 0;
 }
 /* footer code above*/

.containerLogo {
    border: solid 1px;
}

.containerFluid {
    border: solid 1px;
}

@media print {
    .print-none {
        display:none
    }
}